@use "/src/Variables.scss" as *;

.task-list{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
    color: $color-blue;
}

@media screen and (min-width: $desktop-width) {
    .task-list{
    }
    
}