@use "/src/Variables.scss" as *;

.tasks{
    padding: 1rem;
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        color: $color-blue;
        margin: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media screen and (min-width: $desktop-width) {
    .tasks{
        &__title{
            font-size: 2rem;
        }
    }
}