@use "../../Variables.scss" as *;

.task-bar {
    display: flex;
    align-items: center;
    margin: 1rem;
    color: $color-blue;

    &__task{
        &--completed{
            text-decoration: line-through;
            color: grey;
        }
    }

    &__date{
        display: none;
    }

    &__checkbox{
        margin: 1rem;
    }
}

@media screen and (min-width: $desktop-width) {
    .task-bar{

        &__task{
            font-size: 1.5rem;
        }

        &__date{
            display: unset;
            margin: 1rem;

            &--completed{
                text-decoration: line-through;
                color: grey;
            }
        }
    }
}
