@use "../../Variables.scss" as *;

.header {
    max-width: 100vw;
    max-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: $color-blue;
    background-color: $color-dark;

    &__image {
        width: 3rem;
        height: auto;
        margin: 0.8rem;
    }

    &__title {
        justify-self: center;
        font-size: 3rem;
    }
}
