@use "/src/Variables.scss" as *;

.weather-card{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: $color-blue;

    &__list{
        list-style-type: none;
    }
}

@media screen and (min-width: $desktop-width) {
    .weather-card {
        font-size: 1.5rem;

        &__conditons{
            font-size: 2rem;
        }
    }
  }