@use "/src/Variables.scss" as *;

.weather-card{
    color: $color-blue;
    margin: 1rem;

    &__list{
        list-style-type: none;
    }
}

@media screen and (min-width: $desktop-width) {
    .weather-card {
        font-size: 1.5rem;

        &__conditons{
            font-size: 2rem;
        }
    }
  }