@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

$global-font: "Style Script";

$color-dark: #222831; 
$color-grey: #393e46; 
$color-blue: #0092ca;
$color-white: #eeeeee;